absl-py==0.11.0
backports.entry-points-selectable==1.1.0
bson==0.5.10
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.14
distlib==0.3.2
dm-sonnet==1.23
filelock==3.0.12
Flask==1.1.2
Flask-JWT==0.3.2
Flask-JWT-Extended==4.3.0
gensim==3.8.3
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.3.4
mysql-connector==2.2.9
nltk==3.5
numpy==1.20.1
opencv-python==4.4.0.46
pandas==0.25.3
Pillow==8.1.2
platformdirs==2.2.0
PyJWT==1.4.0
pymongo==3.11.3
pyparsing==2.4.3
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.3
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.11.1
six==1.13.0
sklearn==0.0
smart-open==4.2.0
threadpoolctl==2.1.0
tqdm==4.57.0
urllib3==1.26.3
virtualenv==20.7.0
Werkzeug==1.0.1